*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f3f4f6;
}
h2 {
  font-size: 24px;
  font-weight: bold;
}

input[type='checkbox'] {
  appearance: none;
  background-color: #fff;
  margin: 0;
  font: inherit;
  color: #6b7280;
  width: 1.15em;
  height: 1.15em;
  border: 0.15em solid #6b7280;
  border-radius: 0.15em;
  transform: translateY(-0.075em);

  display: grid;
  place-content: center;
}

input[type='checkbox']::before {
  content: '';
  width: 0.65em;
  height: 0.65em;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em #6b7280;
}

input[type='checkbox']:checked::before {
  transform: scale(1);
}
input[type='checkbox']:focus {
  outline: 0.1rem solid #6b7280;
  outline-offset: 0.15rem;
  outline-style: dashed;
}

*::-webkit-scrollbar {
  width: 16px;
}
*::-webkit-scrollbar-track {
  border-radius: 8px;
}
*::-webkit-scrollbar-thumb {
  height: 56px;
  border-radius: 8px;
  border: 4px solid transparent;
  background-clip: content-box;
  background-color: #ccc;
}
*::-webkit-scrollbar-thumb:hover {
  background-color: #aaa;
}

.todo-app {
  margin: auto;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 2rem;
  background-color: #fff;
  border-radius: 0.25rem;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  max-width: 32rem;
  color: #374151;
}

.todo-app-container {
  min-height: 100vh;
  background-color: #f3f4f6;
}

.container {
  margin: auto;
  padding-top: 24px;
  max-width: 48rem;
}

nav {
  background-color: #fff;
  padding: 16px;
}
nav ul {
  display: flex;
  justify-content: center;
  margin: auto;
  list-style-type: none;
}
nav ul li:not(:first-child) {
  margin-left: 16px;
}
.active {
  font-weight: bold;
}

.todo-input {
  width: 100%;
  border: none;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  padding: 14px;
  font-size: 16px;
  margin-top: 16px;
  border-radius: 0.25rem;
}
.todo-input:focus {
  outline-color: #6b7280;
  outline-width: 0.1rem;
}
.todo-list {
  margin-top: 16px;
  max-height: 210px;
  overflow: scroll;
}

.todo-item-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 24px;
}
.todo-item {
  display: flex;
  align-items: center;
  flex: 1;
  font-size: 18px;
  margin-right: 24px;
  margin-left: 24px;
}

.todo-item-label {
  margin-left: 16px;
}

.todo-item-input {
  margin-left: 8px;
  width: 100%;
  border: none;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  padding: 6px 8px;
  font-size: 18px;
}

.line-through {
  text-decoration: line-through;
  color: #6b7280;
}

.x-button {
  background: white;
  color: #6b7280;
  border: none;
  cursor: pointer;
}

.x-button:hover {
  color: #1f2937;
}
.x-button:active {
  transform: scale(0.9);
}

.x-button-icon {
  width: 1.5rem;
  height: 1.5rem;
}

.button {
  color: #6b7280;
  font-size: 14px;
  background: white;
  border: 1px solid lightgray;
  padding: 6px;
  border-radius: 5px;
  cursor: pointer;
}

.button:hover {
  border: 1px solid lightgray;
}
.button-scale:active {
  transform: scale(0.90);
}

.filter-button {
  border: 1px solid white;
}

.filter-button-active {
  border: 1px solid lightgray;
}

.check-all-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #6b7280;
  margin-top: 22px;
  padding-top: 16px;
  border-top: 1px solid lightgray;
}

.other-buttons-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #6b7280;
  margin-top: 22px;
  padding-top: 16px;
  border-top: 1px solid lightgray;
}

.no-todos-container {
  width: 300px;
  margin: 30px auto;
  text-align: center;
}

.no-todos-container p {
  margin-top: 20px;
  text-align: center;
}

.name-container {
  margin-bottom: 40px;
}

.name-label {
  margin-top: 15px;
}

.toggles-container {
  margin: 20px 0;
}
.mr-1 {
  margin-right: .5rem;
}

nav {
  background: white;
  padding: 16px;
}

nav ul {
  display: flex;
  justify-content: center;
  margin: auto;
}

nav ul li:not(:first-child) {
  margin-left: 16px;
}

.active {
  font-weight: bold;
}

/* Transitions  */

.slide-vertical-enter {
  opacity: 0;
  transform: translateY(-20px);
}

.slide-vertical-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: all 300ms;
}

.slide-vertical-exit {
  opacity: 1;
  transform: translateY(0);
}

.slide-vertical-exit-active {
  opacity: 0;
  transition: all 300ms;
  transform: translateY(-20px);
}

.slide-horizontal-enter {
  opacity: 0;
  transform: translateX(20px);
}

.slide-horizontal-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: all 300ms;
}

.slide-horizontal-exit {
  opacity: 1;
  transform: translateX(0);
}

.slide-horizontal-exit-active {
  opacity: 0;
  transition: all 300ms;
  transform: translateX(20px);
}
